.chart {
  background-color: #F5F5DC;
  width: 1200px;
  height: 800px;
  border: 1px solid black;
}

.points {
  fill: #FAEBD7;
}

.ask-points {
  fill: green;
}

.area {
  fill: orange;
  shape-rendering: crispEdges;
}

.area2 {
  fill: green;
  shape-rendering: crispEdges;
}
