header {
  height: 50px;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
}

#transparent {
  z-index: -100;
  position: fixed;
  height: 100vh;
  background-color: rgba(200,200,0,.5);
  width: 100%;
  background-image: url('../img/stocks2.jpg');
  background-size: contain;
  background-position: center;
}

#logo {
  height: 50px;
  margin-left: 10px;
}

#icon-list {
  margin-right: 10px;
  display: flex;
}

body {
  background: #FFF0F5;
}

.chart {
  background-color: #F5F5DC;
  width: 1000px;
  height: 600px;
  border: 1px solid lightgrey;
}

.points {
  fill: #FAEBD7;
}

.ask-points {
  fill: green;
}

.area {
  fill: orange;
  shape-rendering: crispEdges;
}

.area2 {
  fill: green;
  shape-rendering: crispEdges;
}

.trades {
  visibility: visible;
}

.E {
  visibility: visible;
}

.P {
  visibility: visible;
}

.display {
  max-width: 600px;
  max-height: 1000px;
  margin: 0 auto;
  display: flex;
}

#button-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

#button-container p {
  margin: 0 auto;
  text-decoration: underline;
  font-weight: 700;
  margin-top: 10px;
  font-size: 20px;
}

button {
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  border-style: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  background: black;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

#trade-info {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 20px;

}

#container {
  background: white;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  vertical-align: center;
  box-shadow: 10px 2px 10px black;
}

#shadow {
  z-index: 10000000000;
  width: 1300px;
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  margin: 0 auto;
  box-shadow: -3px 2px 10px black;
}


.x-label, .y-label {
  font-weight: bold;
}

#right {
  width: 200px;
  /*border: 1px solid black;*/
  margin-top: 35px;
}

#ask-bid {
  position: relative;
  top: 0;
  top: auto;
  bottom: 0;
  bottom: auto;
  vertical-align: middle;
  height: 100%;
  margin-left: 5px;
}

#count {
  display: flex;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#count p {
  margin: 0 auto;
}

.ask-bid-title {
  text-decoration: underline;
  font-weight: bold;
}

.ask-bid-result, .trade-results {
  color: green;
  padding: 5px 10px 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-left: 5px;
  font-weight: bold;
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 18%, rgba(215,222,227,1) 31%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 18%,rgba(215,222,227,1) 31%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 18%,rgba(215,222,227,1) 31%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.trade-result-container {
  margin-top: 15px;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

input[type='range'] {
  width: 150px;
  margin: 0 auto;
}
